body {
  background-color: lightskyblue;
  font-family: "Open Sans Condensed", sans-serif;
}

.bg-xing {
  background-color: #007575;
}

.card-img-top {
  max-height: 66px;
}
.name {
  font-family: "Lobster";
  font-size: 4em;
}

.cv-station {
  font-family: "Amatic SC", cursive;
  font-size: 1.4em;
}
.full {
  width: 100%;
  background-color: lightgrey;
  border-radius: 2em;
}
#s_bew {
  width: 95%;
  border-radius: 2em;
  margin-bottom: 0.5em;
}
#s_wein {
  width: 90%;
  border-radius: 2em;
  margin-bottom: 0.5em;
}
#s_html {
  width: 20%;
  border-radius: 2em;
  margin-bottom: 0.5em;
}
#s_css {
  width: 25%;
  border-radius: 2em;
  margin-bottom: 0.5em;
}
#s_java {
  /* width: 10%; */
  border-radius: 2em;
  margin-bottom: 0.5em;
}
