body {
  /*background-image: url("resources/bg.gif");*/
  background-color: lightskyblue;
  font-family: "Open Sans Condensed", sans-serif;
}

.bg-xing {
  background-color: #007575;
}

.card-img-top {
  max-height: 66px;
}
.name {
  font-family: "anton", sans-serif;
  font-size: 2em;
}

.cv-station {
  font-family: "Amatic SC", cursive;
  font-size: 1.4em;
}
